@{
    ViewData["Title"] = "Home Page";
}
<p> Curso Udemy "Aprende ASP.NET Core MVC 6 Haciendo Proyectos Desde Cero" Kelly C. Monge 12-4 </p>

///row es para filas, col para columnas
<div class="row"> 

    <div class="col">
        columna 1
    </div>

    <div class="col">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>

    <div class="col">
        columna 4
    </div>

    <div class="col">
        columna 5
    </div>

    <div class="col">
        columna 6
    </div>

    <div class="col">
        columna 7
    </div>

    <div class="col">
        columna 8
    </div>

    <div class="col">
        columna 9
    </div>

    <div class="col">
        columna 10
    </div>

    <div class="col">
        columna 11
    </div>

    <div class="col">
        columna 12
    </div>

</div>

<div class="row">

    <div class="col-1">
        columna 1
    </div>

    <div class="col-2">
        columna 2
    </div>

    <div class="col-3">
        columna 3
    </div>

</div>

<h2>Ejemplo vertical</h2>

<div class="row">

    <div class="col-sm">
        columna 1
    </div>

    <div class="col-sm">
        columna 2
    </div>

    <div class="col-sm">
        columna 3
    </div>

</div>


